<%- include("partials/header1"); -%>

<div class="cont">
	<nav class="navbar navbar-default">
	  <div class="cont">
		<div class="navbar-header">
		  <p class="navbar-brand"><a href="#">B L O G B O W E R</a></p>
		</div>
		  <ul class="nav navbar-nav navbar-right">
			<li id="about" class="nav-item"><a  class="nav-link" href="/about">GET INSPIRED</a></li>
			<li id="contact" class="nav-item"><a class="nav-link" href="/contact">FOLLOW US</a></li>
			<li id="compose" class="nav-item"><a class="nav-link" href="/community"></a></li>
			<li id="compose" class="nav-item"><a class="btn btn-primary nav-link" href="/users/login">Start Your Journey</a></li>
		  </ul>
	  </div>
    </nav>
    
    <div class="add container">
        <div class="jumb">
            <img src="/images/carousel2.jpeg" alt="Classic">
          </div>
    </div>

    <div class="indcont">
    <h1><strong>B L O G B O W E R</strong></h1>
    <p> <%= title %> </p>

    <a href="/users/login">Sign in</a>

</div>


<!--<%- include("partials/footer1"); -%> -->